@charset "UTF-8";   

body {
    text-align: center;
    background-color: orange;
}

.container {
    display: grid;
    grid-template-columns:repeat(12, 1fr);
    grid-template-rows: 50px, 50px;
    gap: 3px;
}

.container > div:nth-child(1n) {
    background-color: rgb(211, 219, 222);
}

.header {
    grid-column: 1 / 11;
}

.menu {
    grid-column: 11;
    grid-row: 1 / 4;
}

.content {
    grid-column: 1 / 11;
}

.footer {
    grid-column: 1 / 11; 
}