@charset "utf-8";

html, body {
    background-color: burlywood;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    border: 5px solid rgb(28, 25, 50);
    display: flex;   
    justify-content: flex-end;
}

.home {
    margin-right: auto;
}

.container > div {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: white;

}

.container > div:nth-child(1) {
    background-color: rgb(60, 114, 96);
}

.container > div:nth-child(2) {
    background-color: rgb(104, 86, 65);
}

.container > div:nth-child(3) {
    background-color: rgb(61, 108, 92);
}